.login {
  margin-top: 20px;
  margin-left: 25%;
  color: rgb(6, 253, 200);
  font-size: 25px;
  background-color: rgb(34, 34, 1);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 80vh;
  width: 30%;
  border-radius: 25px;
  border: solid rgb(10, 231, 183);

}

.login:hover {
  box-shadow: 0px 0px 20px 10px rgb(185, 70, 17);
}

.header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.input {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input:hover {
  box-shadow: 0px 0px 20px 10px rgb(17, 185, 73);
}

form input {
  width: auto;
  height: 40px;
  margin: 15px;
}

.button {
  margin: 20px;
  background-color: rgb(67, 248, 239);
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 0px 0px 20px 10px rgb(221, 36, 4);
}

.inp {
  background-color: rgb(175, 196, 196);
  border-radius: 10px;
  height: 40px;
}

.new {
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: solid rgb(17, 221, 61);
  color: rgb(9, 226, 226);
  font-size: 15px;
  height: 50px;
}

.new:hover {
  box-shadow: 0px 0px 20px 10px rgb(17, 185, 73);

}

.spanAdm {
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: solid rgb(17, 221, 61);
  color: rgb(9, 226, 226);
  font-size: 18px;
  height: 50px;
}

.spanAdm:hover {
  color: aqua;
  box-shadow: 0px 0px 20px 10px rgb(17, 185, 73);

}

@media (max-width: 768px) {
  .login {
    margin-left: 10%;
    width: 80%;
    height: auto;
    font-size: 20px;
    padding: 10px;
  }

  .header {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .input {
    margin: 10px;
  }

  form input {
    width: 90%;
    height: 35px;
    margin: 10px 0;
  }

  .button {
    height: 60px;
    width: 80px;
    margin: 10px auto;
  }

  .inp {
    height: 25px;
  }

  .new {
    font-size: 12px;
  }
}